<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <title>快递列表</title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet">
    <style>
        body {
            background: #f7f7f7;
        }

        th, td {
            white-space: nowrap;
        }

        .sys-head {
            padding-top: 80px;
        }
    </style>
</head>
<body style="min-width: 230px">
    #parse("navbar.vm")
<div class="container sys-head">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 ">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <h3 class="panel-title">快递列表</h3>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="text-center">
                        <p class="bg-info" id="chart-type"></p>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-xs-2">
                            <button type="button" class="btn-add btn btn-sm btn-success">添加</button>
                        </div>
                        <div class="col-md-4 col-xs-3" style="padding: 0px">
                            <div class="form-group">
                                <label class="col-md-5 hidden-xs control-label" style="padding-top: 6px">按类型筛选</label>
                                <div class="col-md-7 col-xs-12" style="padding: 0px">
                                    <div class="input-group input-group-sm">
                                        <select class="form-control" id="q-select-type" onchange="qType()">
                                            <option value="x">现金</option>
                                            <option value="y">月结</option>
                                            <option value="w">微信</option>
                                            <option value="q">欠款</option>
                                            <option value="d">代收</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-7">
                            <div class="form-group">
                                <label class="col-md-5 hidden-xs control-label" style="padding-top: 6px">按单号查询</label>
                                <div class="col-md-7 col-xs-12" style="padding: 0px">
                                    <div class="input-group input-group-sm">
                                        <input id="q-table-search" type="number" name="q" class="form-control"
                                               placeholder="按单号查询"
                                               autocomplete="off">
                                        <div class="input-group-btn">
                                            <button type="submit" class="btn btn-default" onclick="qSearch()">查询
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered nowrap">
                            <thead>
                            <tr>
                                <th>单号</th>
                                <th>类型</th>
                                <th>金额</th>
                                <th>日期</th>
                                <th>备注</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody id="table-data"></tbody>
                        </table>
                        <nav>
                            <ul class="pager" id="table-pager"></ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="add-modal">
    <div class="modal-dialog">
        <div class="modal-content span12">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">添加</h4>
            </div>
            <form id="add-form" class="form-horizontal" method="post" autocomplete="off">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">单号</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="form-number" name="number"
                                   placeholder="365842574414">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">类型</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="form-type" name="type">
                                <option value="x">现金</option>
                                <option value="y">月结</option>
                                <option value="w">微信</option>
                                <option value="q">欠款</option>
                                <option value="d">代收</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">价格</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="form-price" name="price">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">备注</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="form-desc" name="desc" placeholder="备注">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-danger">清空</button>
                    <button type="button" class="add-form-submit btn btn-primary">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="//cdn.bootcss.com/sweetalert/1.1.3/sweetalert.min.js"></script>
<script>
    $(function () {
        var previous_f;
        var next_f;
        var q;
        var type;
        var add_modal = $('#add-modal');
        add_modal.modal({
            backdrop: true,
            show: false,
            keyboard: true
        });
        //添加
        $('.btn-add').click(function () {
            add_modal.modal("show");
        })
        list();
        //按快递单号查询
        window.qSearch = function () {
            list({'q': $('#q-table-search').val()});
        }
        //按类型查询
        window.qType = function () {
            var objS = document.getElementById("q-select-type");
            list({'type': objS.options[objS.selectedIndex].value});
        }
        /**
         * 日期格式化
         * @param fmt
         * @returns {*}
         */
        Date.prototype.format = function (fmt) {
            var o = {
                "M+": this.getMonth() + 1, //月份
                "d+": this.getDate(), //日
                "H+": this.getHours(), //小时
                "m+": this.getMinutes(), //分
                "s+": this.getSeconds(), //秒
                "q+": Math.floor((this.getMonth() + 3) / 3), //季度
                "S": this.getMilliseconds() //毫秒
            };
            if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
        };
        /**
         * 保存数据
         * */
        $('.add-form-submit').click(function () {
            var data = {};
            data.number = $('#form-number').val();
            if (data.number.length != 12) return swal("单号长度有误,请确认!");
            data.type = $('#form-type').val();
            data.price = $('#form-price').val();
            data.desc = $('#form-desc').val();
            $.ajax({
                type: 'POST',
                url: "/express/save",
                data: data || {},
                dataType: 'json',
                success: function (result) {
                    add_modal.modal("hide");
                    swal({
                        title: "添加成功!",//提示消息
                        type: "success",//成功类型
                        timer: 1000,//1.5秒后自动关闭
                        showConfirmButton: false//不显示确认按钮
                    });
                    refresh();
                    setChart(result);
                    document.getElementById("add-form").reset();
                }
            });
        })

        /**
         *数据统计
         * */
        chartType();
        function chartType() {
            $.ajax({
                type: 'GET',
                url: "/express/chart-type",
                dataType: 'json',
                success: function (result) {
                    setChart(result);
                }
            });
        }

        function setChart(result) {
            $('#chart-type').empty();
            var msg = '';
            $.each(result.data, function (i, v) {
                msg += v.type + ":" + v.sum + " ";
            })
            $('#chart-type').append(msg);
        }

        /**
         * 获取数据
         **/
        function list(data) {
            $.ajax({
                type: 'GET',
                url: "/express/list",
                data: data || {},
                dataType: 'json',
                success: function (result) {
                    var trs = '';
                    $.each(result.data, function (i, v) {
                        trs += '<tr>';
//                    trs+='<td>'+v.id+'</td>';
                        trs += '<td>' + v.number + '</td>';
                        trs += '<td>' + v.type + '</td>';
                        trs += '<td>' + v.price + '</td>';
                        trs += '<td>' + new Date(v.create_time).format("yyyy-MM-dd HH:mm") + '</td>';
                        trs += '<td>' + v.desc+ '</td>';
                        if (v.type == '欠款') {
                            trs += '<td><button type="button" class="btn-yes btn btn-xs btn-success" data-id="' + v.id + '">已还</button></td>';
                            trs += '<td><button type="button" class="btn-del btn btn-xs btn-danger" data-id="' + v.id + '">删除</button></td>';
                        } else {
                            trs += '<td><button type="button" class="btn-del btn btn-xs btn-danger" data-id="' + v.id + '">删除</button></td>';
                        }

                        trs += '</tr>';
                    });
                    var pager = '';
                    var ext = result.ext;
                    previous_f = ext.previous_f;
                    next_f = ext.next_f;
                    q = ext.q;
                    type = ext.type;
                    if (previous_f != undefined) {
                        if (q != undefined) {
                            pager += '<li><button class="btn-pager btn btn-xs btn-info" data-start=' + previous_f + ' data-q=' + q + '>上一页</button></li> ';
                        } else if (type != undefined) {
                            pager += '<li><button class="btn-pager btn btn-xs btn-info" data-start=' + previous_f + ' data-type=' + type + '>上一页</button></li> ';
                        } else {
                            pager += '<li><button class="btn-pager btn btn-xs btn-info" data-start=' + previous_f + '>上一页</button></li> ';
                        }
                    }
                    if (next_f != undefined) {
                        if (q != undefined) {
                            pager += '<li><button class="btn-pager btn btn-xs btn-info" data-start=' + next_f + ' data-q=' + q + '>下一页</button></li>';
                        } else if (type != undefined) {
                            pager += '<li><button class="btn-pager btn btn-xs btn-info" data-start=' + next_f + ' data-type=' + type + '>下一页</button></li>';
                        } else {
                            pager += '<li><button class="btn-pager btn btn-xs btn-info" data-start=' + next_f + '>上一页</button></li>';
                        }
                    }
                    $('#table-data').empty();
                    $('#table-data').append(trs);
                    $('#table-pager').empty();
                    $('#table-pager').append(pager);
                }
            })

        }

        /**
         * 分页
         */
        $(document).on('click', ".btn-pager", function (e) {
            var oThis = $(this);
            var data = {};
            if (oThis.data('q') != undefined) {
                data.q = oThis.data('q');
            }
            if (oThis.data('type') != undefined) {
                data.type = oThis.data('type');
            }
            if (oThis.data('start') != undefined) {
                data.start = oThis.data('start');
            }
            list(data)
        });
        /***
         * 删除
         */
        $(document).on('click', ".btn-del", function (e) {
            $.ajax({
                type: 'POST',
                data: {'id': $(this).data('id')},
                url: "/express/del",
                dataType: 'json',
                success: function (result) {
                    refresh();
                    setChart(result);
                }
            });
        });
        /***
         * 已还
         */
        $(document).on('click', ".btn-yes", function (e) {
            $.ajax({
                type: 'POST',
                data: {'id': $(this).data('id')},
                url: "/express/yes",
                dataType: 'json',
                success: function (result) {
                    refresh();
                    setChart(result);
                }
            });
        });
        function refresh() {
            var data = {};
            if (previous_f != undefined) {
                data.previous_f = previous_f;
            }
            if (next_f != undefined) {
                data.next_f = next_f;
            }
            if (q != undefined) {
                data.q = q;
            }
            if (type != undefined) {
                data.type = type;
            }
            list(data);
        }
    });
</script>
</body>
</html>
