<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--在移动设备浏览器上，通过为视口（viewport）设置 meta 属性为 user-scalable=no 可以禁用其缩放（zooming）功能。这样禁用缩放功能后，用户只能滚动屏幕，就能让你的网站看上去更像原生应用的感觉 width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no-->
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <!--让部分国产浏览器默认采用高速模式渲染页面 360浏览器支持-->
    <meta name="renderer" content="webkit">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <link rel="icon" href="/favicon.ico">
    <title>数据统计</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="bootstrap/3.3.5/css/bootstrap.min.css">
    <!--表格-->
    <link rel="stylesheet" href="js/plugins/dataTables/dataTables.bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="js/plugins/font-awesome/css/font-awesome.min.css">
    <!--自定义 -->
    <link rel="stylesheet" href="css/sys.css">
</head>
<body style="min-width: 230px">
    #parse("navbar.vm")
<div class="container sys-head">
    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-10 ">
            <div class="panel panel-info">
##                <div class="panel-heading">
##                    <div class="row">
##                        <div class="col-xs-12 col-sm-4 col-md-4">
##                            <h3 class="panel-title">现收统计</h3>
##                        </div>
##                    </div>
##                </div>
                <div class="panel-body">
                    <div id="express-chart"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-2 hidden-xs">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <div class="panel-body">
                    个人说明
                </div>
                <div class="panel-footer">
                    Panel footer
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <ul class="list-group">
                    <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                    <a href="#" class="list-group-item">Morbi leo risus</a>
                    <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item">Vestibulum at eros</a>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->
<script src="js/jquery.min.js"></script>
<script src="bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="js/plugins/highcharts/highcharts.js"></script>
<script>
    $(function () {
        $.ajax({
            type: 'GET',
            url: "/express/charts/price",
            dataType: 'json',
            success: function (result) {
                $('#express-chart').highcharts({
                    title: {
                        text: '数据统计'
                    },
                    xAxis: {
                        categories: result.categories
                    },
                    credits: {
                        enabled: false
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: ''
                        }
                    },
                    series: [{
                        type: 'column',
                        name: '现收金额',
                        data: result.sum,
                        dataLabels: {
                            enabled: true,
//                            rotation: -90,
                            color: '#FFFFFF',
                            align: 'top',
                            format: '{point.y}', // one decimal
                            y: 10
                        }
                    },{
                        type: 'spline',
                        name: '现收单数',
                        data: result.count,
                        dataLabels: {
                            enabled: true,
//                            rotation: -90,
                            color: '#FFFFFF',
                            align: 'top',
                            format: '{point.y}', // one decimal
                            y: 10
                        },
                        marker: {
                            lineWidth: 2,
                            lineColor: Highcharts.getOptions().colors[3],
                            fillColor: 'white'
                        }
                    }]
                });
            }
        })
    });
</script>
</body>
</html>
