<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <title>快递列表</title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet">
    <style>
        body {
            background: #f7f7f7;
        }

        th, td {
            white-space: nowrap;
        }

        .sys-head {
            padding-top: 80px;
        }
    </style>
</head>
<body style="min-width: 230px">

<div class="container-full">
    <div class="row row-table">
        <div class="col-xs-12 col-sm-12 col-md-12 ">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <h3 class="panel-title">快递列表</h3>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="text-center">
                        <p class="bg-info" id="chart-type"></p>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-xs-4">
                            <div class="form-group">
                                <label class="col-md-5 hidden-xs control-label" style="padding-top: 6px">按类型筛选</label>
                                <div class="col-md-7 col-xs-12" style="padding: 0px">
                                    <div class="input-group input-group-sm">
                                        <select class="form-control" id="q-select-type" onchange="qType()">
                                            <option value="x">现金</option>
                                            <option value="y">月结</option>
                                            <option value="w">微信</option>
                                            <option value="q">欠款</option>
                                            <option value="d">代收</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 col-xs-8">
                            <div class="form-group">
                                <label class="col-md-5 hidden-xs control-label" style="padding-top: 6px">按单号查询</label>
                                <div class="col-md-7 col-xs-12" style="padding: 0px">
                                    <div class="input-group input-group-sm">
                                        <input id="q-table-search" type="number" name="q" class="form-control"
                                               placeholder="按单号查询"
                                               autocomplete="off">
                                        <div class="input-group-btn">
                                            <button type="submit" class="btn btn-default" onclick="qSearch()">查询
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-condensed nowrap">
                            <thead>
                            <tr>
                                <th>单号</th>
                                <th>类型</th>
                                <th>金额</th>
                                <th>状态</th>
                                <th>日期</th>
                                <th>备注</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody id="table-data"></tbody>
                        </table>
                        <nav>
                            <ul class="pager" id="table-pager"></ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-form" style="display: none;">
        <div class="col-xs-1 col-sm-1 col-md-1 "></div>
        <div class="col-xs-10 col-sm-10 col-md-10" style="text-align: center">
            <h3>更新快递信息</h3>
            <form role="form" style="text-align: left">
                <input type="hidden" id="form-id" name="id">
                <div class="form-group">
                    <label>单号</label>
                    <input type="text" id="form-number" name="number" class="form-control" readonly>
                </div>
                <div class="form-group">
                    <label>价格</label>
                    <input type="number" id="form-price" name="price" class="form-control">
                </div>
                <div class="form-group">
                    <label>类型</label>
                    <select class="form-control" id="form-type" name="type">
                        <option value="x">现金</option>
                        <option value="y">月结</option>
                        <option value="w">微信</option>
                        <option value="q">欠款</option>
                        <option value="d">代收</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>备注</label>
                    <input type="text" id="form-desc" name="desc" class="form-control">
                </div>
            </form>
            <button id="form-btn-cancel" class="btn btn-default">取消</button>
            <button id="form-btn-ok" class="btn btn-success">确定</button>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 "></div>
    </div>
</div>
<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="//cdn.bootcss.com/sweetalert/1.1.3/sweetalert.min.js"></script>
<script>
    $(function () {
        var previous_f;
        var next_f;
        var q;
        var type;
        list();
        //按快递单号查询
        window.qSearch = function () {
            list({'q': $('#q-table-search').val()});
        }
        //按类型查询
        window.qType = function () {
            var objS = document.getElementById("q-select-type");
            list({'type': objS.options[objS.selectedIndex].value});
        }
        /**
         * 日期格式化
         * @param fmt
         * @returns {*}
         */
        Date.prototype.format = function (fmt) {
            var o = {
                "M+": this.getMonth() + 1, //月份
                "d+": this.getDate(), //日
                "H+": this.getHours(), //小时
                "m+": this.getMinutes(), //分
                "s+": this.getSeconds(), //秒
                "q+": Math.floor((this.getMonth() + 3) / 3), //季度
                "S": this.getMilliseconds() //毫秒
            };
            if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
        };
        /**
         *数据统计
         * */
        chartType();
        function chartType() {
            $.ajax({
                type: 'GET',
                url: "/express/chart-type",
                dataType: 'json',
                success: function (result) {
                    setChart(result);
                }
            });
        }

        function setChart(result) {
            $('#chart-type').empty();
            var msg = '';
            $.each(result.data, function (i, v) {
                msg += v.type + ":" + v.sum + " ";
            })
            $('#chart-type').append(msg);
        }

        /**
         * 获取数据
         **/
        function list(data) {
            $.ajax({
                type: 'GET',
                url: "/express/list",
                data: data || {},
                dataType: 'json',
                success: function (result) {
                    var trs = '';
                    $.each(result.data, function (i, v) {
                        if (i % 2 == 0) {
                            trs += '<tr style="background-color:#bce8f1">';
                        } else {
                            trs += '<tr>';
                        }
                        trs += '<td>' + v.number + '</td>';
                        trs += '<td>' + v.type + '</td>';
                        trs += '<td>' + v.price + '</td>';
                        if (v.status == 1) {
                            trs += '<td>已上交</td>';
                        } else {
                            trs += '<td>未上交</td>';
                        }
                        trs += '<td>' + new Date(v.create_time).format("yyyy-MM-dd HH:mm") + '</td>';
                        trs += '<td>' + v.desc + '</td>';
                        trs += "<td style='text-align: center'>";
                        trs += ' <button type="button" class="btn-edit btn btn-xs btn-primary" data-id="' + v.id + '" data-number="' + v.number + '" data-type="' + v.type + '" data-price="' + v.price + '" data-desc="' + v.desc + '">编辑</button> &nbsp;&nbsp;';
                        if (v.status == 0 && v.type != '欠款') {
                            trs += ' <button type="button" class="btn-up btn btn-xs btn-success" data-id="' + v.id + '" data-number="' + v.number + '">上交</button> &nbsp;&nbsp;';
                        }
                        if (v.type == '欠款') {
                            trs += ' <button type="button" class="btn-yes btn btn-xs btn-info" data-id="' + v.id + '" data-number="' + v.number + '">已还</button> &nbsp;&nbsp;';
                        }
                        trs += ' <button type="button" class="btn-del btn btn-xs btn-danger" data-id="' + v.id + '" data-number="' + v.number + '">删除</button> &nbsp;&nbsp;';

                        trs += '</td></tr>';
                    });
                    var pager = '';
                    var ext = result.ext;
                    previous_f = ext.previous_f;
                    next_f = ext.next_f;
                    q = ext.q;
                    type = ext.type;
                    if (previous_f != undefined) {
                        if (q != undefined) {
                            pager += '<li><button class="btn-pager btn btn-xs btn-info" data-start=' + previous_f + ' data-q=' + q + '>上一页</button></li> ';
                        } else if (type != undefined) {
                            pager += '<li><button class="btn-pager btn btn-xs btn-info" data-start=' + previous_f + ' data-type=' + type + '>上一页</button></li> ';
                        } else {
                            pager += '<li><button class="btn-pager btn btn-xs btn-info" data-start=' + previous_f + '>上一页</button></li> ';
                        }
                    }
                    if (next_f != undefined) {
                        if (q != undefined) {
                            pager += '<li><button class="btn-pager btn btn-xs btn-info" data-start=' + next_f + ' data-q=' + q + '>下一页</button></li>';
                        } else if (type != undefined) {
                            pager += '<li><button class="btn-pager btn btn-xs btn-info" data-start=' + next_f + ' data-type=' + type + '>下一页</button></li>';
                        } else {
                            pager += '<li><button class="btn-pager btn btn-xs btn-info" data-start=' + next_f + '>上一页</button></li>';
                        }
                    }
                    $('#table-data').empty();
                    $('#table-data').append(trs);
                    $('#table-pager').empty();
                    $('#table-pager').append(pager);
                }
            })

        }

        /**
         * 分页
         */
        $(document).on('click', ".btn-pager", function (e) {
            var oThis = $(this);
            var data = {};
            if (oThis.data('q') != undefined) {
                data.q = oThis.data('q');
            }
            if (oThis.data('type') != undefined) {
                data.type = oThis.data('type');
            }
            if (oThis.data('start') != undefined) {
                data.start = oThis.data('start');
            }
            list(data)
        });
        /***
         * 删除
         */
        $(document).on('click', ".btn-del", function (e) {
            var oThis = $(this);
            swal({
                        title: "确认删除?",
                        text: "单号:" + oThis.data("number"),
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "确定",
                        cancelButtonText: "取消",
                        closeOnConfirm: false
                    },
                    function () {
                        $.ajax({
                            type: 'POST',
                            data: {'id': oThis.data('id')},
                            url: "/express/del",
                            dataType: 'json',
                            success: function (result) {
                                refresh();
                                setChart(result);
                                swal.close();
                            }
                        });
                    });
        });
        /***
         * 已还
         */
        $(document).on('click', ".btn-yes", function (e) {
            var oThis = $(this);
            swal({
                        title: "确认还款?",
                        text: "单号:" + oThis.data("number"),
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "确定",
                        cancelButtonText: "取消",
                        closeOnConfirm: false
                    },
                    function () {
                        $.ajax({
                            type: 'POST',
                            data: {'id': oThis.data('id')},
                            url: "/express/yes",
                            dataType: 'json',
                            success: function (result) {
                                refresh();
                                setChart(result);
                                swal.close();
                            }
                        });
                    });

        });
        /***
         * 编辑
         */
        $(document).on('click', ".btn-edit", function (e) {
            $(".row-table").hide();
            var oThis = $(this);
            $('#form-id').val(oThis.data('id'));
            $('#form-number').val(oThis.data('number'));
            $('#form-price').val(oThis.data('price'));
            $('#form-desc').val(oThis.data('desc'));
            $("#form-type").find("option:contains('" + oThis.data('type') + "')").attr("selected", true);
            $(".row-form").show();
        })
        /**取消编辑
         * **/
        $('#form-btn-cancel').click(function (e) {

            $(".row-form").hide();
            $(".row-table").show();
        })
        /**确定编辑
         * **/
        $('#form-btn-ok').click(function (e) {
            var obj = {};
            obj.id = $('#form-id').val();
            obj.price = $('#form-price').val();
            obj.desc = $('#form-desc').val();
            obj.type = $('#form-type').val();
            $.ajax({
                type: 'POST',
                url: "/express/edit",
                data: obj,
                dataType: 'json',
                success: function (result) {
                    refresh();
                    chartType();
                    $(".row-form").hide();
                    $(".row-table").show();
                }
            });
        })
        /***
         * 已上交
         */
        $(document).on('click', ".btn-up", function (e) {
            var oThis = $(this);

            swal({
                        title: "确认上交?",
                        type: "warning",
                        text: "单号:" + oThis.data("number"),
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "确定",
                        cancelButtonText: "取消",
                        closeOnConfirm: false
                    },
                    function () {
                        $.ajax({
                            type: 'POST',
                            data: {'id': oThis.data('id')},
                            url: "/express/up",
                            dataType: 'json',
                            success: function (result) {
                                refresh();
                                setChart(result);
                                swal.close();
                            }
                        });
                    });

        });
        function refresh() {
            var data = {};
            if (previous_f != undefined) {
                data.previous_f = previous_f;
            }
            if (next_f != undefined) {
                data.next_f = next_f;
            }
            if (q != undefined) {
                data.q = q;
            }
            if (type != undefined) {
                data.type = type;
            }
            list(data);
        }
    });
</script>
</body>
</html>
